<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Text Utils</title>
</head>
<body>
<h1>Welcome to the text analyser. Enter your text below</h1>
<form action ='/analyze' method = 'get'>
    <textarea name="text" style="margin: 0;width: 721px;height: 93px;"></textarea><br>
    <input type="checkbox" name="removepunc"> Remove Punctuations<br>
    <input type="checkbox" name="fullcaps"> Uppercase<br>
    <input type="checkbox" name="newlineremover"> New Line Remover<br>
    <input type="checkbox" name="extraspaceremover"> Extra Space Remover<br>
    <button type="submit">Analyze Text</button>
</form>
</body>
</html>